@tailwind base;
@tailwind components;
@tailwind utilities;

a,
p {
  line-height: 1.75rem;
  /* 28px */
  word-wrap: break-word;
}

a[href^="http"] {
  color: #3f83f8;
  text-decoration: underline;
}

html {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

@layer components {
  .card {
    @apply max-w-sm rounded-lg border border-gray-200 bg-white shadow dark:border-gray-700 dark:bg-gray-800;
  }
}
